/* @import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Chewy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Qwitcher+Grypen:wght@400;700&display=swap'); */
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@theme {
  --color-blue-80: #3171C6;
  --color-blue-70: #B4C8EB;
  --color-blue-30: #eBf5ff;

  --color-orange-50: #E85623;
}

@layer utilities {
  .grid-bg {
    background-color: #F4F3F1; /*#F0F4F8  #eBf5ff*/
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  [data-theme="dark"] .grid-bg {
    background-color: #2D2D2D; /*#00050F */
    background-image:
      linear-gradient(to right, rgba(165, 190, 248, 0.133) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(111, 156, 252, 0.133) 1px, transparent 1px);
  }

  /* { Fonts } */
  .almendra-regular {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
  .font {
    font-family: "Playfair Display", serif;
  }
  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .signature {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (min-width: 768px) {
  /* Hides the default cursor everywhere on desktop */
  body, a, button, .group {
    cursor: none !important;
  }
}